body {
    margin: 5px;
    height: 100%;

    -webkit-app-region: drag;
}

div#subject {
    text-align: center;
    font-size: 11pt;
}

div#timer {
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
}