body {
    margin: 5px;
    height: 100%;

    font-family: sans-serif;

    -webkit-app-region: drag;
}

body.sprint {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

body.oversprint {
    background: linear-gradient(-45deg, #23a6d5, #1070e0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

body.cooldown {
    background: linear-gradient(-45deg, #ee7752, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

div.holder-main {
    margin: 0px;
    width: 250px;

    text-align: center;
    vertical-align: middle;

    display: table-cell;
}

div.holder-side {
    margin: 0px;
    width: 25px;

    vertical-align: middle;

    display: table-cell;
}

div.button {
    width: 20px;
    height: 20px;

    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 8px;

    text-align: center;
    font-size: 11pt;
    color: #fff;

    cursor: pointer;

    -webkit-app-region: no-drag;
}

div.button:not(:last-child) {
    margin-bottom: 3px;
}

/* components in editing screen */

input {
    padding: 2px;

    background-color: rgba(0,0,0,0);

    text-align: center;
    font-size: 11pt;
    color: #fff;

    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 8px;

    -webkit-app-region: no-drag;
}

div#edit {
    display: none;
    color: #fff;
}

input#edit-subject {
    width: 220px;
}

input#edit-cooldown {
    width: 40px;
}

input#edit-sprint {
    width: 40px;
}

/* components in watch screen */

div#watch {
    display: block;
}

div#subject {
    text-align: center;
    font-size: 11pt;
    color: #fff;
}

div#timer {
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
    color: #fff;
}